<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title>Add New Product</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="product-form">
      <!-- Name -->
      <mat-form-field appearance="outline">
        <mat-label>Product Name</mat-label>
        <input matInput formControlName="name" placeholder="Enter product name">
        <mat-error *ngIf="productForm.get('name')?.hasError('required')">
          Name is required
        </mat-error>
        <mat-error *ngIf="productForm.get('name')?.hasError('minlength')">
          Name must be at least 3 characters
        </mat-error>
      </mat-form-field>

      <!-- Price -->
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" placeholder="Enter price">
        <span matPrefix>&nbsp;&nbsp;</span>
        <mat-error *ngIf="productForm.get('price')?.hasError('required')">
          Price is required
        </mat-error>
        <mat-error *ngIf="productForm.get('price')?.hasError('min')">
          Price must be greater than 0
        </mat-error>
      </mat-form-field>

      <!-- Category -->
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="productForm.get('category')?.hasError('required')">
          Category is required
        </mat-error>
      </mat-form-field>

      <!-- instock checkbox -->
      <mat-checkbox formControlName="inStock" class="stock-checkbox">
        Product is in stock
      </mat-checkbox>

      <!-- Add product button -->
      <button mat-raised-button color="primary" type="submit" 
              [disabled]="productForm.invalid" class="submit-button">
        <mat-icon>add</mat-icon>
        Add Product
      </button>
    </form>
  </mat-card-content>
</mat-card>